.item {
  background-color: white;
  border-radius: 4px;
  width: 600px;
  padding: 20px 30px;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}
.name {
  width: 100%;
}
.done {
  text-decoration: line-through;
}
