:root {
  --colorMain: #3498db;
  --bg-color: #f8f8ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  padding-top: 32px;
}
